@import './vendors/reset.scss';
@import './config/medias.scss';
@import './blocs/newParty.scss';

html,
body {
  font-size: 18px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}
